
header {
    font-family: "Times New Roman";
    font-size: 69px;
    text-align: center;
}

body {
    background-color: #ffffff;
}

div {
    font-family: Geneva;
    background-color: #00bfff;
    padding: 30px;
    text-align: center;

}

#twitterLogo {
    height: 69px;
    width: 69px;

}

#twitterTitle {

}

.twitterHeader {
    display: inline;
}